body {
    margin: 0;
    background-color: black;
    font-family: "Hind", sans-serif;
    padding: 0px 0px 30px 0px;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.top-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    color: white;
    height: 50px;
    width: 100%;
    font-size: 15px;
    text-align: center;
}

.top-text {
    margin-top: 20px;
    font-size: 48px;
    text-align: center;
    color: white;
    font-weight: bolder;
    line-height: 44px;
}

.video {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-direction: column;
    color: rgb(109, 107, 107);
}

.video .top-bar {
    height: 30px;
    font-size: 18px;
}

.button-subscribe {
    margin-top: 20px;
    padding: 20px 0px 10px 0px;
    line-height: 18px;
    width: 300px;
    font-size: 18px;
    border-radius: 50px;
    background-color: rgb(32, 160, 57);
    color: white;
    animation-name: button-grow;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes button-grow {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

.text-subscribe {
    margin-top: 30px;
    color: white;
    font-size: 22px;
    text-align: center;
    line-height: 26px;
    font-weight: 500;
}

.subscribe {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-direction: column;
}


.coments {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
}

.extra-steps {
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    align-items: center;
    margin-top: 30px;
    justify-content: center;
}

.three {
    width: 33.33%;
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    justify-content: center;
}

.six {
    width: 66.00%;
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    justify-content: center;
}

.six .span{
    width: 66.00%;
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    justify-content: center;
}

.extra-steps .text {
    font-size: 20px;
    text-align: center;
    line-height: 26px;
}

.piracy {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    max-width: 1000px;
    align-items: center;
    justify-content: center;
}

.piracy .small {
    color: rgb(109, 107, 107);
    line-height: 12px;
    font-size: 13px;
}

.piracy .info {
    display: flex;
    flex-direction: column;
    text-align: justify;
}

.piracy .copyright {
    text-align: center;
    font-size: 12px;
}

.container-copyright {
    display: flex;
    justify-content: center;
}

.red-text {
    color: red;
}

.small-gray-text {
    color: rgb(109, 107, 107);
    font-size: 12px;
}

.disclaimer {
    margin-top: 70px;
    line-height: 15px;
    text-align: center;
    width: 100%;
    padding: 0 20px;
}

.icone-texto {
    display: flex;
    justify-content: center;
    align-items: start;
}

.icone-texto>img {
    margin-right: 5px;
}

.container-video {
    width: 100%;
    min-width: 520px;
    height: 300px;
    outline: 5px red solid;
    margin-bottom: 10px;
    padding-bottom: 21px;
}

.container-conteudo {
    max-width: 633px;
}


.button-subscribe>b {
    font-size: 37px;
}

.container-extra {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1140px;
}

@media (max-width: 705px) {
    .top-text {
        font-size: 28px;
        line-height: 24px;
    }

    .container-conteudo {
        max-width: 500px;
    }

    .container-video {
        min-width: 498px;
        height: 300px;
    }

    .video .top-bar {
        font-size: 12px;
    }

    .button-subscribe {
        width: 203px;
        font-size: 12px;
    }

    .button-subscribe>b {
        font-size: 25px;
    }

    .three {
        width: 100%;
    }

    .six {
        width: 100%;
    }
}


@media (max-width: 571px) {
    .top-text {
        font-size: 23px;
        line-height: 20px;
    }

    .container-conteudo {
        max-width: 300px;
    }

    .container-video {
        min-width: 300px;
        height: 200px;
    }
}