body {
    margin: 0;
    background-color: black;
    font-family: "Hind", sans-serif;
    padding-bottom:30px;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.top-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    color: white;
    height: 50px;
    width: 100%;
    font-size: 15px;
}

.top-text {
    margin-top: 20px;
    font-size: 48px;
    text-align: center;
    color: white;
    font-weight: bolder;
    line-height: 44px;
}

.video {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-direction: column;
    color: rgb(109, 107, 107);
}

.video .top-bar {
    height: 30px;
}

.button-subscribe {
    margin-top: 20px;
    padding: 20px 0px 10px 0px;
    line-height: 18px;
    width: 300px;
    font-size: 18px;
    border-radius: 50px;
    background-color: rgb(32, 160, 57);
    color: white;
    animation-name: button-grow;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes button-grow {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

.text-subscribe {
    margin-top: 30px;
    color: white;
    font-size: 22px;
    text-align: center;
    line-height: 26px;
    font-weight: 500;
}

.subscribe {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-direction: column;
}


.coments {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
}

.extra-steps {
    display: flex;
    align-items: center;
    margin-top: 60px;
}

.extra-steps img {
    margin: 0 90px 0 0;
}
.extra-steps .text {
    font-size: 20px;
    line-height: 26px;
}

.piracy {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
}

.piracy .small {
    color: rgb(109, 107, 107);
    line-height: 12px;
    font-size: 13px;
}

.piracy .info {
    text-align: justify;
}

.piracy .copyright {
    text-align: center;
    font-size: 12px;
}

.container-copyright {
    display: flex;
    justify-content: center;
}

.red-text {
    color: red;
}

.small-gray-text {
    color: rgb(109, 107, 107);
    font-size: 12px;
}

.disclaimer {
    margin-top: 70px;
    line-height: 15px;
    text-align: center;
}

.icone-texto {
    display: flex;
    justify-content: center;
    align-items: start;
}

.icone-texto > img{
   margin-right: 5px;
}

.container-video {
    width: 100%;
    border: 5px red solid;
    margin-bottom: 10px;
}